<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".feature.AddStopActivity"
            android:exported="true"
            android:icon="@drawable/ic_feature_add_stop"
            android:label="Route: Stopp hinzufügen"
            android:taskAffinity=".addstop"
            android:theme="@style/Theme.RouteoptimizerForGoogleMaps">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.SortActivity"
            android:exported="true"
            android:icon="@drawable/ic_feature_sort"
            android:label="Route: Sortieren"
            android:taskAffinity=".sort"
            android:theme="@style/Theme.RouteoptimizerForGoogleMaps">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
